{:deps {prevayler-clj/prevayler4 {:mvn/version "2020.11.14"}
        com.cognitect.aws/api {:mvn/version "0.8.575"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.230"}
        com.cognitect.aws/dynamodb {:mvn/version "821.2.1107.0"}
        com.cognitect.aws/s3 {:mvn/version "822.2.1145.0"}
        base64-clj/base64-clj {:mvn/version "0.1.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {clj-test-containers/clj-test-containers {:mvn/version "0.7.2"}
                               org.clojure/test.check {:mvn/version "1.1.1"}
                               com.gfredericks/test.chuck {:mvn/version "0.2.13"}
                               meta-merge/meta-merge {:mvn/version "1.0.0"}
                               nubank/matcher-combinators {:mvn/version "3.5.0"}}}}}
